<form [formGroup]="personneForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
          <mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
      
                 <mat-form-field class="full-width">
                  <input matInput #cin maxlength="8" minlength="8" placeholder="Numéro CIN" type="number" formControlName="cin">
                  <mat-hint align="end">{{cin.value.length}} / 8</mat-hint>
                  <mat-error *ngIf="personneForm.controls['cin'].hasError('required')" >
                    Numéro CIN est <strong>Obligatoire</strong>
                  </mat-error> 
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="First name" formControlName="firstName">
                  <mat-error *ngIf="personneForm.controls['firstName'].hasError('required')">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Last name" formControlName="lastName">
                  <mat-error *ngIf="personneForm.controls['lastName'].hasError('required')">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            
            <div class="row">
      
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Date de Naissance</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="MM/JJ/AAAA" formControlName="datenaiss" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="personneForm.controls['datenaiss'].hasError('required')">
                      Date de Naissance est <strong>Obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
      
                <div class="col">
                    <mat-form-field class="full-width">
                      <ngx-mat-file-input formControlName="imageFile"  (change)="onChange()" [accept]="'.jpg,.png,.jpeg'"  placeholder="Photo" ></ngx-mat-file-input>
                      <mat-icon matSuffix>folder</mat-icon>
                      
                    </mat-form-field>
                  </div>
      
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom D'utilisateur" formControlName="username">
            <mat-error *ngIf="personneForm.controls['username'].hasError('required')">
              Nom D'utilisateur is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Mot de passe" formControlName="password">
            <mat-error *ngIf="personneForm.controls['password'].hasError('required')">
              Mot de passe is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      
      
      
      
      
      
      
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"  >Submit</button>
          </mat-card-actions>
        </mat-card>
      </form>
