.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 nav{
    padding-left: 16vh;
    padding-right: 16vh;
 }

 @media only screen and (max-width: 768px) {
   nav {
      padding-left: 4vh;
      padding-right: 4vh;   }
 }
 .fade-in {
   animation: fadeIn ease 1s;
   -webkit-animation: fadeIn ease 1s;
   -moz-animation: fadeIn ease 1s;
   -o-animation: fadeIn ease 1s;
   -ms-animation: fadeIn ease 1s;
   }
   @keyframes fadeIn {
   0% {opacity:0.5;}
   100% {opacity:1;}
   }
   
   @-moz-keyframes fadeIn {
   0% {opacity:0.5;}
   100% {opacity:1;}
   }
   
   @-webkit-keyframes fadeIn {
   0% {opacity:0.5;}
   100% {opacity:1;}
   }
   
   @-o-keyframes fadeIn {
   0% {opacity:0.5;}
   100% {opacity:1;}
   }
   
   @-ms-keyframes fadeIn {
   0% {opacity:0.5;}
   100% {opacity:1;}
   }

   .circle {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin:  auto;
      margin-left: 10px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 99em;
      -moz-border-radius: 99em;
      border-radius: 99em;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.73);
    
    }
    .vertical-center {
      display: inline-block;
 }