  <nav class="navbar navbar-expand-md navbar-dark  fixed-top">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" height="40px"></a>

    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
  
      <ul class="navbar-nav ml-auto">
      
           <a class="nav-link active" href="#">Accueil </a>
           <a class="nav-link" *ngIf="!loggedIn" style="cursor: pointer;" (click)="openAddDialog()" >Inscription</a>
           <a class="nav-link" *ngIf="!loggedIn" routerLink="/connexion" >Connexion</a>
           <a class="nav-link" *ngIf="loggedIn" routerLink="/dashboard" >Dashboard</a>
           <div  *ngIf="loggedIn"   [style.background]="'url('+image+')'" [style.backgroundSize]="'cover'" class="circle"></div>      
         
           <li *ngIf="loggedIn" class="nav-item dropdown">
          
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
           
          <div class="vertical-center">{{nom}} {{prenom}}</div>
         
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  (click)="logout()" href="#">Déconnexion</a>

            </div>
          </li>

          

           
        

        </ul>
    </div>
  </nav>