<form [formGroup]="partieForm" novalidate (ngSubmit)="onSubmit()" >
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Formulaire Partie: </mat-card-title>

      </mat-card-header>
  
      <mat-card-content>
  
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" >
                <mat-select placeholder="Équipe 1 " formControlName="equipe1">
                  <mat-option *ngFor="let equipe1 of equipes1" [value]="equipe1.idEquipe" >
                    <div class="container">
                    <div class="row">
                      <div class="col-sm">
                          {{ equipe1.pays }} 
                      </div>

                    <div class="col-sm">
                     <p> <img height ="16"  src="https://qatar-web.herokuapp.com/v1/Images/High/{{ equipe1.drapeau.id }}"></p>
                    </div>

                  </div>
                  </div>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="partieForm.controls['equipe1'].hasError('required')">
                  L'Équipe est  <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            
          </div>
          <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Équipe 2" formControlName="equipe2" >
                  <mat-option *ngFor="let equipe2 of equipes2" [value]="equipe2.idEquipe" >
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                            {{ equipe2.pays }}
                        </div>
  
                      <div class="col-sm">
                          <img height ="16"  src="https://qatar-web.herokuapp.com/v1/Images/High/{{ equipe2.drapeau.id }}">
                      </div>
  
                    </div>
                    </div>                  </mat-option>
                </mat-select>
                <mat-error *ngIf="partieForm.controls['equipe2'].hasError('required') ">
                  L'Équipe est  <strong>Obligatoire</strong>
                </mat-error>
               


              </mat-form-field>
            </div>
         

          
        </div>
  
  
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Score Equipe 1 " formControlName="scoreEq1">
                  <mat-error *ngIf="partieForm.controls['scoreEq1'].hasError('required')">
                   Score is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
                
          
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Score Equipe 2 " formControlName="scoreEq2">
              <mat-error *ngIf="partieForm.controls['scoreEq2'].hasError('required')">
               Score is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      
        <div class="row">
  
          <div class="col">

            <mat-form-field owlDateTimeMaterialTrigger  class="full-width">
              <mat-label>Date</mat-label>
              <input matInput readonly   [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="MM/JJ/AAAA, hh:mm" formControlName="date">
              <owl-date-time #dt1></owl-date-time>
              <mat-error *ngIf="partieForm.controls['date'].hasError('required')">
                Date  est <strong>Obligatoire</strong>
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col">

                <mat-form-field class="full-width">
                        <mat-select placeholder="Stade " formControlName="stade">
                          <mat-option *ngFor="let stade of stades" [value]="stade.idStade" >
                            {{ stade.nomStade }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="partieForm.controls['stade'].hasError('required') ">
                          stade est  <strong>Obligatoire</strong>
                        </mat-error>
                      </mat-form-field>




          </div>






        </div>
      
        <div class="row">
          <div class="col" >
              <mat-form-field class="full-width">
                        <mat-select placeholder="Tour" formControlName="tours">
                          <mat-option value="Final">Final</mat-option>
                          <mat-option value="Demi-final">Demi-final</mat-option>
                          <mat-option value="Quart-final">Quart-final</mat-option>
                       
                        </mat-select>
              <mat-error *ngIf="partieForm.controls['tours'].hasError('required')">
                Tour est  <strong>Obligatoire</strong>
              </mat-error>
  
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
