
.footer {
  position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 6vh;
    line-height: 6vh; /* Vertically center the text there */
    margin: 0px;
  }
  .footer-text {
    margin-right: 2rem;
    color: #f5f5f5;
  }
  