<mat-horizontal-stepper linear  #stepper>
  <mat-step >
    <ng-template matStepLabel>Vérification </ng-template>
    <mat-card>
    <div class="container">
      <div class="row">
       <div class="col-sm">
       <p><b>Partie:</b></p> 
       <p><b>Equipes:</b> {{data?.partie.eq1.pays}} VS {{data?.partie.eq2.pays}}</p> 
       <p><b>Date: </b>{{datepartie}} </p>
        <p><b>Stade: </b>{{data?.partie.stade.nomStade}} </p>

       </div>
       <div class="col-sm">
        <p><b>Spectateur:</b></p> 
        <p><b>Nom:</b> {{personne.nom}} </p> 
        <p><b>Prénom: </b>{{personne.prenom}} </p>
         <p><b>Date de naissance: </b>{{datenaiss}} </p>
       </div>
      </div>

      <div>
        <button mat-button color="primary" matStepperNext>Suivant ></button>
      </div>

    </div>
  </mat-card>
  </mat-step>

  <mat-step [stepControl]="spectateurForm">

    <ng-template matStepLabel>Paiement </ng-template>


<!------------------------------------------------------------------------------------------------------------------------------->
<form [formGroup]="spectateurForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      
    </mat-card-header>

    <mat-card-content>
       <h6>Détails de facturation</h6>

      <div class="row">
        
      <div class="col-sm">

        <mat-form-field class="full-width">
          <input matInput placeholder="Nom" formControlName="nom">
          <mat-error *ngIf="spectateurForm.controls['nom'].hasError('required')">
           Nom est <strong>obligatoir</strong>
          </mat-error>
        </mat-form-field>
          
        </div>
        <div class="col-sm">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prénom" formControlName="prenom">
            <mat-error *ngIf="spectateurForm.controls['prenom'].hasError('required')">
             Prénom est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
            </div>
      </div>

        
       

        
      


      <div class="row">
        <div class="col-sm">
              <mat-form-field class="full-width">
                <input matInput placeholder="Numéro carte de credit " formControlName="ccnumber">
                <span matSuffix class="material-icons">payment</span>

                <mat-error *ngIf="spectateurForm.controls['ccnumber'].hasError('required')">
                 Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
              
          <div class="row">
            <div class="col-sm">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Date d'expiration " formControlName="exp">
                    <span matSuffix >dd/YYYY</span>
    
                    <mat-error *ngIf="spectateurForm.controls['exp'].hasError('required')">
                      Date d'expiration is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="CVV " formControlName="security">
                    <img height="20px" matSuffix src="/assets/cvv.png">
    
                    <mat-error *ngIf="spectateurForm.controls['security'].hasError('required')">
                     CVV is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
        
        
    </mat-card-content>
    
  </mat-card>
</form>
<!------------------------------------------------------------------------------------------------------------------------------->



    <div>
      <button mat-button color="primary" matStepperPrevious> < Précédent</button>
   
      <button mat-button color="primary" (click)="onSubmit()" matStepperNext >Suivant ></button>
    </div>

  </mat-step>


  <mat-step END>
    <ng-template matStepLabel>Ticket</ng-template>
<mat-card>
  <div id="content">

    <div class="row">
      <div class="col-sm">
      <p><b>Partie:</b></p> 
      <p><b>Equipes:</b> {{data?.partie.eq1.pays}} VS {{data?.partie.eq2.pays}}</p> 
      <p><b>Date: </b>{{datepartie}} </p>
       <p><b>Stade: </b>{{data?.partie.stade.nomStade}} </p>

      </div>
      <div class="col-sm">
       <p><b>Spectateur:</b></p> 
       <p><b>Nom:</b> {{personne.nom}} </p> 
       <p><b>Prénom: </b>{{personne.prenom}} </p>
        <p><b>Date de naissance: </b>{{datenaiss}} </p>
      </div>
      <div *ngIf="qr" class="col-sm">
        <p><b>QR code de verification:</b></p> 
        <qr-code [value]="resspectateur" [size]="100"></qr-code>
    </div>
     </div>

   
      
    </div>
    <div>
      <button mat-button color="primary" matStepperPrevious> < Précédent</button>
      <button mat-button (click)="downloadPdf()" color="primary" >  Télécharger </button>
    </div>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>