.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.logout{
  position: absolute;
  right: 1em;
}
.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin:  auto;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.73);

}
.vertical-center {
  display: inline-block;
}