<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z8" fixedInViewport
  attr.role='navigation'
  mode='side'
  [opened]="opned">
  <mat-toolbar style="background: #fafafa" class="mat-elevation-z8" >
    <h1></h1>
    <span class="material-icons">
      settings
      </span>
      
       &nbsp;  Menu
  </mat-toolbar>
  <br>

    <mat-nav-list>
    
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active"><span class="material-icons">
        dashboard
        </span>&nbsp;Tableau de bord</a>
        <hr>
        <a mat-list-item routerLink="/"  (click)="logout()" routerLinkActive="active"><span class="material-icons">
          exit_to_app
          </span>&nbsp;Déconnexion</a>
    </mat-nav-list>
    

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-dark" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/logo.png" height="30px"></a>

      <div class="logout">
        <button mat-button routerLink="/home">Accueil</button>
        
       <button mat-button >Dashboard</button>
      
      

       <button mat-button [matMenuTriggerFor]="menu"><div  [style.background]="'url('+image+')'" [style.backgroundSize]="'cover'" class="circle"></div>  {{nom}} {{prenom}}  ▾</button>
              <mat-menu #menu="matMenu">
                <button mat-button #active (click)="logout()">Déconnexion</button>
              </mat-menu>
      </div>
  

    </mat-toolbar>
    
      <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
