 
  <div class="container">
   
      <div class="row">

       
 <div class="col-sm">
          <mat-card>
         <app-ticket-list></app-ticket-list>  


          </mat-card>
        </div>


      </div>
      

     
      <div class="row">
        <div class="col-sm-5">

          <mat-card class="dashboard-card">
            <mat-card-header>
              
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <app-equipe-liste></app-equipe-liste>
            </mat-card-content>
          </mat-card>
    

        </div>


        <div class="col-sm-7">

          <mat-card class="dashboard-card">
            <mat-card-header>
            
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">

                  <app-partie-liste></app-partie-liste>
              
            </mat-card-content>
          </mat-card>
    

        </div>

         </div>
    
      


   
</div>
