<div >
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
      </mat-form-field>

    <mat-table class="full-width-table"  matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="numTicket">
        <mat-header-cell *matHeaderCellDef>N° Ticket</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row?.codeTicket}}</mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Nom">
        <mat-header-cell *matHeaderCellDef  >Nom</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row?.spectateur.nom}}</mat-cell>
      </ng-container>
      
         <!-- Id Column -->
         <ng-container matColumnDef="Prenom">
          <mat-header-cell *matHeaderCellDef >Prenom</mat-header-cell>
          <mat-cell  *matCellDef="let row">{{row?.spectateur.prenom}}</mat-cell>
        </ng-container>
         <!-- Id Column -->
         <ng-container matColumnDef="Partie">
            <mat-header-cell *matHeaderCellDef >Partie</mat-header-cell>
            <mat-cell  *matCellDef="let row">{{row?.partie.eq1.pays}} VS {{row?.partie.eq2.pays}}</mat-cell>
            
          </ng-container>
        
          
          <ng-container matColumnDef="qr">
              <mat-header-cell *matHeaderCellDef  >Qr code</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <qr-code value="{{row?.codeTicket}}" [size]="50"></qr-code>
              </mat-cell>
            </ng-container>
            
    
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  (click)="openDialog(row)"   *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="footer">
  
    <mat-paginator #paginator
        [length]="dataSource.data?.length"
        [pageSize]="3"
        showFirstLastButtons>
    </mat-paginator>  
    </div>
  </div>
