.full-width-table {
    width: 100%;
    height: 15em;
  }
  .mat-header-cell {
    text-align: center;
  }
  mat-row:hover{
    background: #EEEEEE;
    cursor: pointer;
  }
  .mat-form-field {
    font-size: 14px;
    width: 95%;
  }
  