<form [formGroup]="stadeForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
          <mat-card-header>
          </mat-card-header>
          <mat-card-content>
            
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Nom Stade " formControlName="nomStade">
                  <mat-error *ngIf="stadeForm.controls['nomStade'].hasError('required')">
                    Nom stade is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Capacite" formControlName="capacite">
                  <mat-error *ngIf="stadeForm.controls['capacite'].hasError('required')">
                    La capacite is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
      
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"  >Submit</button>
          </mat-card-actions>
        </mat-card>
      </form>