.full-width-table {
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  min-height: 50vh;

}

.mat-header-cell {
  text-align: center;

}

.mat-cell {
  text-align: center;
  justify-content:center;
  padding-top: 2.2vh;
  padding-left: 0vh;
  padding-right: 0vh;
}

.mat-row:hover{
  background: #EEEEEE;
  cursor: pointer;

}

mat-paginator{
  position: fixed;
}

.header-align-center{
  display: flex;
  padding: 21px 0;
  justify-content: center;
} 
.clickable{
  cursor: pointer;
}

mat-paginator{
  position: relative;
  bottom: 0px;
}