<div >
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="eq1">
      <th mat-header-cell *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let row">

        <div class="container h-100">
          <div class="row justify-content-center align-self-center">
        <img height="32px" src="{{displayedPhoto}}{{row.eq1.drapeau.id}}">
        </div>
        <div class="row justify-content-center align-items-center">
          <p class="text-uppercase font-weight-bold">
         
            {{row.eq1.pays}}
    
           </p>
      </div>
    </div>
      </td>
     
    </ng-container>

    
    
    <!-- Id Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-center">Calendrier des matchs</th>
      <td mat-cell *matCellDef="let row">
          <div class="container h-100">
            <div class="row justify-content-center align-items-center font-weight-bold">
             <div class="col-sm">
              {{row.scoreEq1}}
             </div>
             <div class="col-sm">
               :
            </div>
            <div class="col-sm">
              {{row.scoreEq2}}
            </div>
            </div>

            <div class="row justify-content-center align-items-center ">
             
              <div class="col-sm">
                 {{row?.tours}}
             </div>
            
             </div>


             <div class="row justify-content-center align-items-center ">
              <div class="col-sm text-muted" style="font-size: small;">
                 Stade: {{row?.stade.nomStade}}
              </div>      
              </div>

              <div class="row justify-content-center align-items-center ">
                <div class="col-sm text-muted" style="font-size: small;">
                   {{convertDate(row)}}
                </div>      
                </div>
          </div>

      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="eq2">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">  
        
        <div class="container h-100">
        <div class="row justify-content-center align-items-center">
      <img height="32px" src="{{displayedPhoto}}{{row.eq2.drapeau.id}}">
      </div>
      <div class="row justify-content-center align-items-center">
       <p class="text-uppercase font-weight-bold">
         
        {{row.eq2.pays}}

       </p>
    </div>
  </div></td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell class="center" *matHeaderCellDef  > <span *ngIf="role=='ROLE_ADMIN'" (click)="openAddDialog()" class="material-icons clickable">add_circle</span> </th>
      <td mat-cell *matCellDef="let row"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr [matTooltip]="action" (click)=" openDialog(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="3"
      >
  </mat-paginator>
</div>
