<form [formGroup]="equipeForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Formulaire Équipe: </mat-card-title>
      
    </mat-card-header>
    <div class="img">
      <img mat-card-sm-image class="mat-elevation-z4" src="{{displayedPhoto}}"  alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
     
      <div class="row">
       <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom de l'Équipe" formControlName="equipe">
            <mat-error *ngIf="equipeForm.controls['equipe'].hasError('required')">
              Nom de l'Équipe est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
       </div>
          <div class="col">
            <mat-form-field class="full-width">
              <ngx-mat-file-input formControlName="imageFile"  (change)="onChange()" [accept]="'.jpg,.png,.jpeg'"  placeholder="Photo" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
              <mat-error *ngIf="equipeForm.controls['imageFile'].hasError('required')">
                Please select a file
              </mat-error>
            </mat-form-field>
          </div>
  
       
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Valider</button>
    </mat-card-actions>
  </mat-card>
</form>
