

<mat-tab-group mat-align-tabs="center"  (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Liste des Joueurs"> 
        <app-joueur-liste [idEquipe]=data ></app-joueur-liste>
    </mat-tab>
    <mat-tab label="Liste des Staff">
        <app-staff-list [idEquipe]=data></app-staff-list>
    </mat-tab>

   
  </mat-tab-group>