<form [formGroup]="joueurForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      
    </mat-card-header>

    <mat-card-content>


      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <input matInput #cin maxlength="8" minlength="8" placeholder="Numéro CIN" type="number" formControlName="cin">
            <mat-hint align="end">{{cin.value.length}} / 8</mat-hint>
            <mat-error *ngIf="joueurForm.controls['cin'].hasError('required')" >
              Numéro CIN est <strong>Obligatoire</strong>
            </mat-error> 
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Équipe" formControlName="equipe">
              <mat-option *ngFor="let equipe of equipes" [value]="equipe.idEquipe" >
                {{ equipe.pays }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="joueurForm.controls['equipe'].hasError('required')">
              L'Équipe est  <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="firstName">
            <mat-error *ngIf="joueurForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prénom" formControlName="lastName">
            <mat-error *ngIf="joueurForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Date de Naissance</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="MM/JJ/AAAA" formControlName="datenaiss" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="joueurForm.controls['datenaiss'].hasError('required')">
              Date de Naissance est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <ngx-mat-file-input formControlName="imageFile"  (change)="onChange()" [accept]="'.jpg,.png,.jpeg'"  placeholder="Photo" ></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
            <mat-error *ngIf="joueurForm.controls['imageFile'].hasError('required')">
              Photo est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>

        
      </div>
    
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="poste">
            <mat-radio-button value="Gardien">Gardien</mat-radio-button>
            <mat-radio-button value="Arrière droit">Arrière droit</mat-radio-button>
            <mat-radio-button value="Arrière gauche">Arrière gauche</mat-radio-button>
            <mat-radio-button value="Milieu défensif">Milieu défensif</mat-radio-button>
            <mat-radio-button value="Milieu offensif">Milieu offensif</mat-radio-button>
            <mat-radio-button value="Avant-centre">Avant-centre</mat-radio-button>
            <mat-radio-button value="Attaquant">Attaquant</mat-radio-button>
           
            <mat-error *ngIf="joueurForm.controls['poste'].hasError('required')">
              L'Équipe est  <strong>Obligatoire</strong>
            </mat-error>

          </mat-radio-group>
        </div>
        <div class="col">
          <mat-spinner  mode="indeterminate" *ngIf="!loaded" mat-card-avatar  diameter=150></mat-spinner>
          <img mat-card-avatar  [style.width.px]="widthValue" [style.height.px]="widthValue" style="background-size: cover;" (load)="load()" src="{{displayedPhoto}}">
        </div>
        
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
