<app-navbar> </app-navbar>

<app-carousel></app-carousel>
  <div class="container">
    <div class="row">
      <div class="col-md">
      <app-equipe-liste></app-equipe-liste>
      </div>
      <div class="col-md">
        <app-partie-liste></app-partie-liste>
      </div>
      
     
    </div>
   
   
  </div>

  <app-footer></app-footer>