.full-width-table {
  width: 100%;
}
.mat-header-cell {
  text-align: center;
}
.mat-row:hover{
  cursor: pointer;

}
.expand:hover{
  cursor: auto;
}
mat-card:hover{
  
  cursor: auto;
}
mat-card{
  padding: 0px;
}
.full-width{
  margin: 24px;
  margin-bottom: 0px;
  padding-top: 8px;
}
.button{
  padding: 16px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}