<div class="mat-elevation-z8">
  <mat-spinner  mode="indeterminate" *ngIf="tabLoaded=='none'" style="margin: auto;" mat-card-avatar  diameter=65></mat-spinner>

  <table mat-table class="full-width-table" [style.display]="tabLoaded" multiTemplateDataRows matSort aria-label="Joueurs">
    <!-- Id Column -->
    <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.nom}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.prenom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="poste">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Poste</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.poste}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="equipe">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Equipe</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.equipe.pays}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="add">
      <mat-header-cell *matHeaderCellDef ><span *ngIf="role=='ROLE_ADMIN'"  style="cursor: pointer;" (click)="openDialog(null)" class="material-icons">add_circle </span></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>

   

 
 <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 <ng-container matRipple class="expand" matColumnDef="expandedDetail">
  <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
    <div class="example-element-detail"
         [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
     
         <mat-card class="full-width-table">
          <mat-card-header class="full-width" >
            <mat-spinner  mode="indeterminate" *ngIf="!loaded" mat-card-avatar  diameter=65></mat-spinner>
            <img mat-card-avatar [style.width.px]="widthValue" [style.height.px]="widthValue" style="background-size: cover;" (load)="load()" src="{{photo}}" alt="Photo of {{row?.nom}} {{row?.prenom}}">
            <mat-card-title>{{row?.nom}} {{row?.prenom}}</mat-card-title>
            <mat-card-subtitle>{{row?.poste}} | {{row?.equipe.pays}}</mat-card-subtitle>
            <mat-card-subtitle>{{age}} ans</mat-card-subtitle>
            <mat-card-actions  class="button" align="end">
                  
              <button *ngIf="role=='ROLE_ADMIN'" mat-mini-fab color="primary" (click)="openDialog(row)"  matTooltip="Modifier" matTooltipPosition="right"> <mat-icon>create</mat-icon></button>

            </mat-card-actions>
          </mat-card-header> 
               
                <mat-card-footer>	
                  </mat-card-footer>
                  

        </mat-card>
    </div>
  </td>
</ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row  
      matRipple matTooltip="Plus d'informations"
      matTooltipPosition="right"
      class="mat-row" 
      *matRowDef="let row; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="click(row)"></mat-row>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
