<div class=" ">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
   

    <!-- Name Column -->
    <ng-container matColumnDef="pays">
      
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-center">Pays</th>
      <td mat-cell *matCellDef="let row">{{row?.pays}}</td>
    </ng-container>

     <!-- Flag Column -->
     <ng-container matColumnDef="drapeau">
      <th mat-header-cell class="center" *matHeaderCellDef  >Drapeau</th>
      <td mat-cell *matCellDef="let row"> <img height="32px" src="{{displayedPhoto}}{{row?.drapeau.id}}"></td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell class="center" *matHeaderCellDef  > <span *ngIf="role=='ROLE_ADMIN'"(click)="openAddDialog()" class="material-icons clickable">add_circle</span> </th>
      <td mat-cell *matCellDef="let row"> </td>
    </ng-container>

    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="mat-row" (click)="openDialog(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="6"
      >
  </mat-paginator>
</div>
