<mat-card>
   <div id="content">

    <div class="row">
      <div class="col-sm">
      <p><b>Partie:</b></p> 
      <p><b>Equipes:</b> {{data?.data.partie.eq1.pays}} VS {{data?.data.partie.eq2.pays}}</p> 
      <p><b>Date: </b>{{datepartie}} </p>
       <p><b>Stade: </b>{{data?.data.partie.stade.nomStade}} </p>

      </div>
      <div class="col-sm">
       <p><b>Spectateur:</b></p> 
       <p><b>Nom:</b> {{data.data.spectateur.nom}} </p> 
       <p><b>Prénom: </b>{{data.data.spectateur.prenom}} </p>
        <p><b>Date de naissance: </b>{{datenaiss}} </p>
      </div>
      <div  class="col-sm">
        <p><b>QR code de verification:</b></p> 
        <qr-code [value]="resspectateur" [size]="100"></qr-code>
    </div>
     </div>

   
      
    
    <div>
</div>
    
    </div>
    </mat-card>

  <button mat-button (click)="downloadPdf()" color="primary" >  Télécharger </button>